name: Release Drafter

on:
  push:
    branches: [main]

jobs:
  update_release_draft:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Release Drafter
        uses: release-drafter/release-drafter@6db134d15f3909ccc9eefd369f02bd1e9cffdf97
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
